
h1{
    color: #457B9D;
    font-size: 90px;
    text-align: left;
}

p{
    color: #457B9D;
    font-size: 10x;
}

img{
    width: 30px;
    height: 30px;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

#body-div-1{
    background-color: #F1FAEE;
}

#body-div-2{
    background-color: #E63946;
}

#navbar-title 
{
    color: #E63946;
    float: left;
    font-size: 30px;
    
}

#user-button{
    float: right;
    text-align: right;
}

#navbar-buttons{
    text-align: center;
    line-height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#navbar-buttons button {
    background-color: white;
    box-shadow: 0px;
}

#navbar{
    margin-left: 25px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
}

img{
    width: 30px;
    height: 30px;
}
.encadrement{
    color:#457B9D;
    font-size: 30px;
    width: fit-content;
    border: 3px solid #E63946;
    background-color: #F1FAEE;
    padding: 20px;
    text-align: center;
    margin-top: 35px;
}
#center{
    margin-left: 25px;
}
