body{
    background-color: #F1FAEE;
}


h1{
    color: #457B9D;
    font-size: 90px;
    text-align: left;
}

p{
    color: #457B9D;
    font-size: 10x;
}

.encadrement{
    color:#457B9D;
    font-size: 30px;
    width: fit-content;
    border: 3px solid #E63946;
    background-color: #F1FAEE;
    padding: 20px;
    text-align: center;
    margin-top: 35px;
}