body{
    margin-left: 25px;
}


#navbar-title 
{
    color: #E63946;
    float: left;
    font-size: 30px;
    
}

#user-button{
    float: right;
    text-align: right;
}

#navbar-buttons{
    text-align: center;
    line-height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#navbar-buttons button {
    background-color: white;
    box-shadow: 0px;
}

#navbar{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;

    border: solid;
}

img{
    width: 30px;
    height: 30px;
}